body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #00bfa5;
}

.sidebar {
    height: 100vh;
    width: 275px;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    position: fixed;
}

.sidebar h2 {
    color: white;
    margin-bottom: 20px;
}

.sidebar a {
    padding: 10px 1px;
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #575757;
}

.sub-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    border: #000000;
    border-radius: 3%;
}

.sidebar a.active+.sub-menu {
    display: flex;
}

.content {
    margin-left: 300px;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #575757;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a {
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: #000000;
    border-width: 5px;

}

#mode {
    background-color: #363333;
    color: #ffffff;

}

.dark {
    background-color: #00ccff;
    color: rgb(0, 0, 0);
}

.light {
    background-color: #00bfa5;
    color: black;
}

#a1 {
    background-color: #0a6256;

}