body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
body p{
    color: #000000;
}

.sidebar {
    height: 100vh;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 45px;
    position: fixed;
}

.sidebar h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

.sidebar a {
    padding: 10px 1px;
    text-decoration: none;
    width: 100%;
}

.content {
    margin-left: 50px;
    padding-left: 150px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: #000000;
    border-width: 5px;
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 350px;
}

.projects h2{
 margin-left: 40px;
}
.projects p{
    margin: 5px;
}

.projects li{
    color: rgb(0, 0, 0);
}

.info {
     padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: space-between; 
    width: 250px;
      display: grid;
    grid-template-columns: 1fr 1fr;
}

#details {
    width: 100%;
    text-align: center;
     margin-left: -93px;
    padding-left: 30px;
    padding-right: 50px;   
}

#skills {
    width: 108%;
    text-align: center;
    padding-right: 35px;
    margin-left: -50px;
}

#language{
    margin-left: -150px;
}

.projects strong{
    color: rgb(93, 92, 92);
}